# 1. Copy this file and rename the copy to .env
# 2. Replace each value below with your Meraki information
MERAKI_API_KEY=your_meraki_api_key
MERAKI_ORG_ID=your_org_id
DEVICE_SN=your_device_serial_number
